.company-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px 18px 30px;
  background-color: $white;
  border-radius: 2px;
  box-shadow: (0 0 1px rgba($black, 0.39)), (0 3px 10px rgba($black, 0.09));

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    right: -8px;
    width: 42px;
    height: 40px;
    background: url("../img/icons/company-card-angle.png") no-repeat center / cover;
  }

  &__details {
    margin-top: 7px;
  }

  &__performance {
    @include clear-list;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}
