.form {
  display: flex;
  column-gap: 10px;
  align-items: center;

  &__label {
    width: 18px;
    height: 18px;
    mask-image: url("../img/icons/stack.svg#search");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    background-color: $gray-90;
    cursor: pointer;
  }

  &__field {
    @include clear-input;
    width: 62px;
    font-size: rem(14);
    line-height: rem(16);
    text-transform: uppercase;
    color: $gray-90;

    &::placeholder {
      font-size: inherit;
      color: inherit;
    }

    &:focus,
    &:not(:placeholder-shown) {
      width: 200px;
      outline: none;
    }
  }
}
