.header {
  &__container {
    @include container;
    position: relative;
    display: flex;
    background: linear-gradient(90deg, #00417b 0%, #237cb1 50.26%, #2580b2 52.72%, #46d2cc 100%);
    box-shadow: 0 2px 10px rgba($black, 0.16);
  }

  &__wrapper {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    column-gap: 27px;
    min-width: 183px;
    padding: 18px 20px;
    background: url("../img/icons/polygon.svg") no-repeat center / cover;
  }

  &__navigation {
    flex-grow: 1;
    margin-left: 216px;
  }
}
