.header {
  &__container {
    @include container;
    background: linear-gradient(90deg, #00417b 0%, #237cb1 50.26%, #2580b2 52.72%, #46d2cc 100%);
    display: flex;
  }

  &__wrapper {
    background-color: $white;
    display: flex;
    align-items: center;
    column-gap: 27px;
    padding: 18px 20px;
    margin-right: 12px;
    width: 167px;
    position: relative;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);

    &::after {
      content: "";
      width: 13px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 100%;
      background: url("../../img/for-sprite/triangle.svg") no-repeat center / cover;
    }
  }

  &__navigation {
    flex-grow: 1;
  }
}
