.order {
  width: prc(900, 1280);
  margin-left: auto;

  // max-height: 100%;
  // display: grid;
  // grid-template-rows: auto 1fr auto;

  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;

  background-color: $white;
  box-shadow: -8px 9px 25px rgba(49, 68, 93, 0.23);

  &__header {
    padding: 16px 32px;
    background-color: $gray-10;

    display: flex;
    align-items: center;
    column-gap: 27px;
  }

  &__title {
    order: 2;
    margin: 0;
    font-size: rem(24);
    line-height: rem(28);
    font-weight: 300;
  }

  &__button {
    @include clear-input;
    order: 1;
    width: 16px;
    height: 16px;
    cursor: pointer;

    mask-image: url("../../img/icons/stack.svg#cross");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 16px auto;
    background-color: $gray-60;
  }

  &__content {
    padding: 26px 0;
    padding-left: prc(164, 900);
    padding-right: prc(151, 900);

    flex: 1 1 auto;

    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: $gray-18 $gray-15;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: $gray-15;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray-18;
      border-radius: 3px;

      &:hover {
        background-color: $gray-19;
      }
    }
  }

  &__payment {
    margin-bottom: 10px;
  }

  &__status {
    margin: 0 auto;
    margin-bottom: 16px;
  }

  &__inner {
    margin-bottom: 20px;
  }

  &__total {
    margin: 0;
    padding: 20px 30px;
    background-color: $gray-15;
    border-radius: 0 0 2px 2px;
    box-shadow: (0px 0px 1px rgba(0, 0, 0, 0.24)), (0px 4px 15px rgba(0, 0, 0, 0.09)), (0px 2px 3px rgba(0, 0, 0, 0.07));
  }

  &__commission {
    margin: 0;
    color: $gray-30;
    font-size: rem(12);
    line-height: rem(16);
  }

  &__footer {
    padding-left: prc(184, 900);
    padding-right: prc(171, 900);
    box-shadow: (0px 0px 1px rgba(0, 0, 0, 0.24)), (0px 0px 15px rgba(0, 0, 0, 0.09));
  }
}
