.payment {

  &__sum {
    margin: 0;
    color: #CF4545;
    text-align: center;
    font-size: rem(46);
    font-weight: 300;
    line-height: rem(54);
  }

  &__sent {
    margin: 0;
    color: $gray-20;
    text-align: center;
    font-size: rem(16);
    font-weight: 300;
    line-height: rem(22);
  }

  &__account {
    color: $gray-50;
  }
}
