.payment {
  &__sum {
    margin: 0;
    font-size: rem(46);
    font-weight: 300;
    line-height: rem(54);
    text-align: center;
    color: $red-10;
  }

  &__sent {
    margin: 0 0 10px;
    padding-left: 10px;
    font-size: rem(16);
    font-weight: 300;
    line-height: rem(22);
    text-align: center;
    color: $gray-60;
  }

  &__account {
    color: $gray-80;
  }

  &__status {
    margin: 0 auto;
  }
}
