.user-list {
  @include clear-list;
  display: flex;
  font-size: rem(14);
  line-height: rem(60);
  text-transform: uppercase;
  color: $white;

  &__item {
    padding: 0 17px;

    &--dropdown {
      display: flex;
      align-items: center;
      column-gap: 5px;

      &:hover,
      &:focus-within {
        &::after {
          transform: rotate(180deg);
        }
      }

      &::after {
        content: "";
        width: 7px;
        height: 4px;
        mask-image: url("../img/icons/stack.svg#arrow-down");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
        background-color: $white;
        transition: transform 0.3s;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }

    &--notice {
      min-width: 45px;
      min-height: 60px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 19px;
        transform: translate(-50%, -50%);
        mask-image: url("../img/icons/stack.svg#bell");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
        background-color: $white;
      }
    }

    &--profile {
      display: flex;
      align-items: center;
      column-gap: 10px;

      &::before {
        content: "";
        width: 17px;
        height: 17px;
        mask-image: url("../img/icons/stack.svg#building");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
        background-color: $white;
      }
    }
  }

  &__quantity-notice {
    position: absolute;
    left: 50%;
    bottom: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    font-family: $special-font;
    font-size: rem(10);
    font-weight: 500;
    line-height: rem(14);
    text-align: center;
    background-color: $red-20;
    border: 2px solid $blue-10;
    border-radius: 50%;
  }
}
