/* COLORS */
$white: #ffffff;
$black: #000000;
$blue-5: #37aec1;
$gray-5: #edeff1;
$gray-50: #2c2f32;
$gray-60: #2b2b2b;
$red-5: #cf4545;
$red-10: #e54d4d;
$green-5: #8dc540;
$green-10: #81c624;

/* FONTS */
$basic-font: "Roboto", "Arial", sans-serif;
$special-font: "FiraSans", "Arial", sans-serif;

/* VIEWPORTS */
$laptop: 1024px;
$desktop: 1280px;
