/* COLORS */
$white: #ffffff;
$black: #000000;
$gray-10: #f8f8f8;
$gray-20: #f2f2f2;
$gray-30: #edeff1;
$gray-40: #dcdcdc;
$gray-50: #cccccc;
$gray-60: #828a96;
$gray-70: #808080;
$gray-80: #2c2f32;
$gray-90: #2b2b2b;
$green-10: #a5d475;
$green-20: #8dc540;
$green-30: #81c624;
$blue-10: #37aec1;
$blue-20: #2773b9;
$red-10: #cf4545;
$red-20: #e54d4d;

/* FONTS */
$basic-font: "Roboto", "Arial", sans-serif;
$special-font: "FiraSans", "Arial", sans-serif;

/* VIEWPORTS */
$laptop: 1024px;
$desktop: 1280px;
