@mixin clear-input {
  margin: 0;
  padding: 0;

  font-family: inherit;
  font-size: inherit;

  background-color: transparent;
  background-image: none;

  box-shadow: none;
  border: none;
  border-radius: 0;

  appearance: none;
}
